/* SignUp.css */

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.heading-three {
  display: flex;
  justify-content: center;
  margin-top: 65%;
  text-wrap: wrap;
  width: 400px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  color: rgb(217, 120, 222);
}

.left-column {
  flex: 90%;
  background-color: rgb(0, 0, 46);
  display: flex;
}

.dark-blue-box {
  text-align: center;
  color: white;
}

.paragraph {
  font-size: 27px;
  color: rgb(217, 120, 222);
  margin-left: -16rem;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.right-column {
  flex: 60%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-box {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

.button-signup {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(52, 52, 241);
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 12px;
  font-size: 18px;
  width: 180px;
  height: 45px;
}

.button-login {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(52, 52, 241);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 180px;;
  height: 45px;
}
