body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


::-webkit-scrollbar {
  width: 2px;

}
::-webkit-scrollbar-button {
  background: #ccc
}
::-webkit-scrollbar-track-piece {
  background: #343541;
}
::-webkit-scrollbar-thumb {
  background: #eee
}​



.ant-modal{

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.ant-modal-content,
.ant-modal-header {
  background-color: #343541 !important;
  color: white !important;
  
}
.ant-modal-body{
  overflow-y: scroll!important;
  max-height: 400px;
}
.ant-modal-title {
  color: white !important;
}


